.page-container {
  background: linear-gradient(180deg, #708C93 0%, rgba(164, 176, 179, 0.71) 80.99%, rgba(165, 169, 170, 0.71) 100%), linear-gradient(180deg, #999D9E 0%, rgba(255, 255, 255, 0.71) 36.71%, rgba(255, 255, 255, 0.71) 64.17%, rgba(165, 169, 170, 0.71) 99.89%);
  height: 100vh;
  padding: 38px 50px;

  
  .magnetic:hover {
    transform: scale(1.1); /* Increase the size on hover */
  }
  
  /* Optional: Add a box shadow or other styling */


  .links-wrapper {
    ul {
      display: flex;
      align-items: center;
      justify-content: center;

      li {
        margin-left: 60px
      }

    }

  }

  .intro-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .propfile {
        width: 75%;
    }

    .physical-location {
      width: 25%;
      display: grid;
      text-align: end;
      span {
        margin-bottom: 5px;
      }

      .weather-details {
        display: flex;
        align-items: center;
        position: inherit;
        justify-content: flex-end;
      }
    }
  }
  

}

@import '../components/Header/index';
@import '../components/Description/index';
@import '../components/MyLocation/index';
@import '../components/DateTimeWeather/index';
@import '../components/common/SlidingText/index';
@import '../components/ContactUsButton/index'
